#section_1st {
    height: 500px;
    width: 100%;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#fast_div {
    color: white;
    text-align: center;
    padding-top: 100px;
}

#fast_div h1 {
    font-size: 40px;

}

#fast_div p {
    font-size: 30px;
}

#fast_div a {
    text-decoration: none;
    font-size: 40px;
    background-image: linear-gradient(#33ccff, #ff99cc);
    padding: 15px 20px;
    border-radius: 10px;
}

/* section 2 style start */
#section_2_div {
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
}

#donet_tk {
    text-align: center;
    margin-top: 50px;
}

#donet_tk h1 {
    display: inline;
    padding: 30px;
    border: 2px solid red;
    text-align: center;
    margin: 10px;

}

#red_backgrount {
    background-color: rgba(249, 13, 13, 0.346);
}

/* section 2 style end */
/* section 3 style start*/
#horegantal {
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px solid black;


}

#link {
    text-decoration: none;
    padding: 10px 15px;
    background-color: orange;
    border-radius: 10px;
}

/* section 3 style end */